
@font-face {
  font-family: 'Nueu-Machina';
  src: url('../src/assets/fonts/NeuaMachina/NeueMachina-Ultrabold.otf') format('opentype');
}
@font-face {
  font-family: 'Mariupol';
  src: url('../src/assets/fonts/NeuaMachina/Mariupol-Regular.otf') format('opentype');
}



